<form action="/postar" method="POST">
    <fieldset>
        <Legend>Postagens</Legend>
        <p>Titulo: <input type="text" name="titulo" id="ctitulo"></p>
        <p>Conteúdo:</p> <textarea name="conteudo" id="cconteudo" cols="30" rows="10"></textarea>
    </fieldset>
    <button type="submit">Cadastrar Postagem</button>
</form>