<h1>Lista de Postagens: </h1>
{{#each posts}}
    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <h2>{{conteudo}}</h2>
    <a href='/del/{{id}}'><button type="submit">Deletar</button></a>
    <hr>
{{/each}}